/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 50px; /* Added padding for the fixed navigation bar */
    overflow-y: auto; /* Enable vertical scrolling */

}

header {
    background-color: rgb(255, 126, 255);
    color: black;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: rgb(249, 102, 249);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 1em;
}

section {
    margin: 20px;
}

label {
    margin-right: 5px;
}

input {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* Additional styles for the Education page */
#education {
    margin-top: 20px;
}

#education h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    color: #333;
}

#education ul {
    margin-bottom: 20px;
}

#education ul li {
    padding: 5px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.home {
    background-color: pink;
}

#certifications {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certification {
    background-color: pink;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.certification h2 {
    color: #333;
}

.certification p {
    color: #666;
}


/* Additional styles for the content container */
.content-container {
    max-width: 800px;
    margin: 0 auto;
}